*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
body{
    height: 100vh;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(openbook.jpg);
   
}
nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 12rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    background-color: rgba(9,9,77,0.9);
    font-size: 1.3rem;

}
nav ul{
}
nav li{
    margin: 13px 0;
    width: 100%;
    padding: 5px;
    border-radius: 3px;
    transition: all 160ms ease-in;

}
nav li a{
    color: #fff;
    display: block;
    width: 100%;

}
nav li:hover{
     cursor: pointer;
     background-color: #09094d;
     
}
.active{
    background-color: #09094d;
    
}
.main{
    position: fixed;
    left: 12rem;
    width: calc(100% - 12rem);
    height: 100%;
}
.title{
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(241, 238, 238);
    padding: 0 15px;
}
.title h2{
    text-align: center;
    background: linear-gradient(#09094d, gray);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: curs.ive;
    font-size: 30px;
}
.title input{
    width: 300px;
    
    border: none;
    outline: none;
    color: grey;
    background-color: transparent;
}
.title .search{
    border: none;
    background-color: #fff;
    box-shadow: 0px 4px 6px rgba(128, 128, 128, 0.5);
    height: 28px;
    border-radius: 8px;
    padding: 5px;

}
.title .search i{
    margin: 0 5px;
}
.icons{
    display: flex;
    gap: 20px;
}
.icons i{
   font-size: 20px;
   cursor: pointer;
   color: #09094d;
}
.body{
    width: 100%;
    height: calc(100vh - 28px);
    background-color: rgb(241, 238, 238);
    
}
.body .top{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 35%;
}
.top .three{
    height: 70%;
    width: 20%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}
.three h4{
    font-size: 3.4rem;
}
.three p{
    font-size: 1rem;
}
.first{
    color:  rgb(8, 94, 94);
}
.second{
    color: rgb(138,43,226);
}
.third{
    color: rgb(250,128,114);
}
.rating{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.rating div{
    width: 40%;
    background-color: #fff;
    padding: 2rem;
    border-radius: 10px;
}
.rating div h4{
    font-size: 2rem;
    color: #09094d;
}
ol li{
    margin: 10px 0;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(46, 46, 46);
}
hr{
    width: 80%;
}